{% extends 'tasks/base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Установка нового пароля</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Новый пароль</label>
                        <input type="password" name="new_password1" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Подтверждение пароля</label>
                        <input type="password" name="new_password2" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Сменить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}