{% extends 'tasks/base.html' %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-body">
                <i class="fas fa-envelope fa-3x text-success mb-3"></i>
                <h4>Письмо отправлено!</h4>
                <p>Мы отправили инструкцию для сброса пароля на ваш email.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Вернуться ко входу</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}